@import "styles/variables.scss";

.wrapper {
  display: none;
  position: absolute;
  background-color: #ffffff;
  bottom: 125%;
  right: 0;
  background-color: var(--background-color-2);
  border-radius: 4px;
  padding: 16px;
  width: 220px;
  box-shadow: 0 0 4px var(--background-color-2);
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    > label,
    > input {
      color: var(--text-color);
    }
    > label {
      flex: 1;
    }
    > input {
      width: 60px;
      background-color: var(--background-color);
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &.show {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    right: unset;
  }
}
