@import "styles/variables.scss";

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 4% 0;
  // padding: 48px 0;
  min-height: 480px;
  // @media screen and (min-width: $tablet) {
  //   margin: 0 0 0 0;
  // }
  > li {
    position: relative;
    text-align: center;
    $distance: 200px;
    &:nth-child(1) {
      transform: translate(0, $distance);
    }
    &:nth-child(2) {
      transform: translate(-$distance, ($distance / 2) - 20px);
    }
    &:nth-child(3) {
      transform: translate(-$distance, -$distance/2);
    }
    &:nth-child(4) {
      transform: translate(0, -$distance);
    }
    &:nth-child(5) {
      transform: translate($distance, -$distance/2);
    }
    &:nth-child(6) {
      transform: translate($distance, ($distance / 2) - 20px);
    }
    @media screen and (min-width: $desktop) {
      position: absolute;
    }
    @media screen and (max-width: $desktop - 1px) {
      transform: translate(0) !important;
      margin: 16px 0;
      &.currentTurn {
        margin: 32px 0;
      }
    }
    > p {
      padding: 0 1em;
    }
  }
}

.playerWrapper::after {
  content: attr(data-points);
  white-space: pre;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--special-color);
}

.currentTurn {
  > p {
    &::before {
      content: "";
      position: absolute;
      top: -1rem;
      right: 0;
      bottom: -16px;
      left: 0;
      z-index: -1;
      border-radius: 4px;
      background: linear-gradient(
        to bottom,
        var(--background-color-2),
        transparent 60%
      );
    }
  }
}

.heartsContainer {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(var(--num-hearts), 1fr);
  place-items: center;
  direction: rtl;
  gap: 0 8px;
  margin: 12px auto 4px auto;
}
