.pointsText {
  position: absolute;
  top: -2rem;
  right: 0;
  color: var(--special-color);
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 0;
  transform: translateY(50%);
  animation: appear forwards 3s;
}

@keyframes appear {
  20%,
  80% {
    opacity: 1;
    transform: translateY(0);
  }
}
