$spacing: 16px;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height: inherit;
  > *:not(:last-child) {
    margin-bottom: $spacing;
  }
  button {
    margin-top: $spacing * 2;
  }
}
