.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  > * {
    margin-bottom: 24px;
  }
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.settings {
  width: 28px;
  height: 28px;
  padding: 0;
  margin-left: 16px;
  background-color: transparent;
}
