@import "styles/variables.scss";

.form {
  display: flex;
  flex-flow: column;
  margin: 36px auto;
  opacity: 0.5;
  transition: opacity 0.25s;
  pointer-events: none;
  position: relative;
  width: fit-content;
  > *:focus {
    outline: none;
  }
  > button {
    margin: 8px auto 0 auto;
  }
  > input {
    width: 100%;
    max-width: 360px;
  }
  &.toggle {
    opacity: 1;
    pointer-events: initial;
  }
  &.error {
    animation: error 0.5s forwards;
  }
  @media screen and (min-width: $tablet) {
    flex-flow: row;
    > button {
      margin: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    margin: 0 auto 36px auto;
  }
}

$wiggle-amount: 1%;
@keyframes error {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-$wiggle-amount);
  }
  30% {
    transform: translateX($wiggle-amount);
  }
  40% {
    transform: translateX(-$wiggle-amount);
  }
  50% {
    transform: translateX($wiggle-amount);
  }
  60% {
    transform: translateX(-$wiggle-amount);
  }
  70% {
    transform: translateX($wiggle-amount);
  }
  80% {
    transform: translateX(-$wiggle-amount);
  }
  100% {
    transform: translateX(0);
  }
}

.turnText {
  position: absolute;
  top: -24px;
  left: 4px;
  color: var(--text-color);
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  &.show {
    transform: translateY(0);
    opacity: 1;
  }
}
