@import "styles/variables.scss";

.timer {
  width: 148px;
  height: 8px;
  background-color: $red;
  border-radius: 2px;
  margin: 24px auto;
  position: relative;

  @media screen and (min-width: $desktop) {
    position: absolute;
    transform: translate(-50%, 16px);
    top: 50%;
    left: 50%;
  }

  &::before {
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: $blue;
    border-radius: inherit;
    transform-origin: 0 0;
    transform: scaleX(0.8);
    animation: countdown var(--timer-speed) forwards linear;
  }
}

@keyframes countdown {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
