@font-face {
  font-family: Sen;
  src: url("../fonts/Sen/Sen-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Sen;
  src: url("../fonts/Sen/Sen-Bold.ttf");
  font-weight: 500;
  font-display: swap;
}
