$paddingStep: 2rem;

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.wrapper {
  height: 100%;
  padding-top: 8%;
  input {
    width: 280px;
  }
}

.header {
  font-size: 3rem;
  padding-bottom: $paddingStep;
}
