@import "styles/variables.scss";

.wrapper {
  width: 100%;
  height: 400px;
  padding: 24px;
  background-color: var(--background-color-2);
  display: flex;
  flex-flow: column;
  > * {
    display: block;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  > textarea {
    width: 100%;
    height: 84px;
    min-height: 84px;
  }
  > button {
    margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    width: 340px;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
  }
}

.chatWrapper {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  margin-top: auto;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff; /* or add it to the track */
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 2px;
  }
  ul {
    padding-right: 8px;
  }
  li {
    word-break: break-word;
    span {
      color: var(--special-color);
    }
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
