@import "styles/variables.scss";

.wrapper {
  display: flex;
  flex-flow: column;
  min-height: inherit;
  max-height: inherit;
  > *:first-child {
    flex: 1;
  }
  @media screen and (min-width: $desktop) {
    flex-flow: row;
  }
}

.leftContent {
  background-color: var(--background-color);
}

.leftContent,
.upperLeftContent {
  display: flex;
  flex-flow: column;
}

.upperLeftContent,
.upperLeftContent ul {
  flex: 1;
}

.upperLeftContent {
  position: relative;
}
