@import "styles/variables.scss";

.button {
  position: absolute;
  z-index: 99;
  top: 24px;
  left: 24px;
  width: 54px;
  height: 26px;
  background-color: black;
  border-radius: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    background-color: white;
    width: 24px;
    height: 16px;
    border-radius: 6px;
    transform: translateX(-8px);
    transition: transform 0.25s;
  }
  &.dark {
    &::before {
      transform: translateX(8px);
      background-color: $blue;
    }
  }
  &:focus {
    outline: none;
  }
}
