@import "styles/variables.scss";

.countdownText {
  text-align: center;
  color: var(--special-color);
  font-weight: 500;
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    transform-origin: left;
  }
}
