@import "styles/variables.scss";

.challengeContainer {
  text-align: center;
  color: var(--special-color);
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    transform: translate(-50%, 0);
  }
  &::before {
    content: "Enter a word containing\a";
    font-size: 0.875rem;
    color: var(--text-color);
  }
  > h1,
  > p {
    margin-top: 6px;
  }
}
