@import "./styles/variables.scss";

main {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  min-width: 320px;
}

input,
button,
a.button {
  border-radius: 4px;
  padding: 8px;
  text-decoration: none;
  transition: opacity 0.25s;
  &.disable {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

input {
  background-color: $gray;
  border: none;
}

button,
a.button {
  border: none;
  background-color: $blue;
  cursor: pointer;
  color: white;
}

.error {
  color: var(--error-text);
}
