@import "styles/fonts.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Sen, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

main {
  background-color: var(--background-color);
  color: var(--text-color);

  // $darkModeTransition: 0.25s;
  // transition: background-color $darkModeTransition, color $darkModeTransition;

  // CSS Variables for dark/light mode
  --background-color: #f9f9f9;
  --background-color-2: #e9e9e9;
  --text-color: #000000;
  --special-color: #0044ff;
  --error-text: #c70000;
  &.dark {
    --background-color: #3a3a3a;
    --background-color-2: #4b4b4b;
    --text-color: #f0f0f0;
    --special-color: #00ccff;
    --error-text: #ff7c7c;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button,
a.button {
  cursor: pointer;
  padding-left: 2em;
  padding-right: 2em;
}

a {
  color: black;
}

textarea {
  resize: none;
  border: none;
  border-radius: 4px;
  padding: 12px;
}

ul {
  list-style-type: none;
}
